*{
    background-color: aliceblue;
    color: black;
}

/*body {
    background-color: aliceblue;
    color: black;
}
*/
.dark-mode {
    background-color: dimgray;
    color: black;
}

.light-mode {
    background-color: aliceblue;
    color: black;
}

.error{
    color: red;
}